/* You can add global styles to this file, and also import other style files */
body {
    background-color: #F5DEB3;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: grid;
    align-content: center;
    justify-content: center;
    height: 100vh;
    overflow: scroll-y;
}